@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Share Tech Mono';
}

.App::after {
  position: relative;
  content: '';
  background: #d7ddd3;
  width: 10px;
  height: 100%;
  bottom: 0;
  left: 100%;
  transform: skewY(45deg);
  transform-origin: 0 100%;
  perspective: 0 200px;
  opacity: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 1px;
}

.View {
  background: white;
  display: list-item;
  color: black;
  text-shadow: gray;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 40%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}


.Keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 80%;
}

.Number {
  background:orange;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
}

.Number[size="2"] {
  width: 50%;
}

.Number[bgcolor="gray"] {
  background: gray;
}

.color-gray {
  background: gray;
}

.Number[val="null"] {
  pointer-events: none;
}

.Number:hover {
  background: #d7ddd3;
  cursor: pointer;
}

.Number:active {
  background: #bdc7b7;
}